.btn-group{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

button{
  height: 50px;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 1.5rem;
}

.save-palette-btn{
  background-color: green;
  color: #fff;
}

.start-over-btn{
    background-color: red;
    color: #fff;
}

.save-palette-btn:hover, .start-over-btn:hover{
  cursor: pointer;
  transform: scale(1.1);
}