.add-genre-btn, .add-instrument-btn{
  width: 150px;
  margin: auto;
  background-color: lightpink;
}

.add-genre-btn:hover, .add-instrument-btn:hover{
  cursor: pointer;
}

input{
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
}

.input-field{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    font-size: 1.8rem;
}
