button{
    background-color: red;
    width: 200px;
    border-radius: 6px;
    color: #fff;
    margin: auto;
}

button:hover{
    cursor: pointer;
}

.saved-palettes{
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    font-size: 1.8rem;
}