html{
  font-size: 10px;
}

body {
  background-color: lightpink;
  /* border: 5px solid #000; */
}

.App {
  display: flex;
  margin: 100px auto;
  padding: 15px;
  justify-content: space-around;
}

.form-fields{
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 50px;
  width: 300px;
  height: 800px;
}


