/* body {
  margin: 0; 
  box-sizing: border-box;
}

nav{
  background-color: #fff;
  height: 100px;
  margin: 0;
  padding: 0;
}

nav #nav-ul{
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  list-style-type: none;
  padding-right: 200px;
}

nav .link-li{
  padding: 10px;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #eee;
  margin: 30px;
}

nav .link-li:hover{
  background-color: red;
  color: #fff;
}

.link {
  text-decoration: none;
} */